.container {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 24px;
}
.login {
  border-radius: 8px;
  padding: 15px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  border: 0.5px solid;
}

.new_dish {
  border-radius: 8px;
  padding: 15px 20px;
  font-weight: bold;
  background-color: rgb(255, 153, 51);
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: none;
}
.new_dish i {
  position: relative;
  left: -4px;
}
