/* sửa header tránh trùng lặp với header ở home  */
#header {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  height: 60px;
  justify-content: space-between;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-left: 30px;
  max-width: 400px;
  height: 28px;
}

.search-box i {
  margin-right: 10px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 18px;
  color: #333;
  width: 270px;
}



/* chỉnh dropdown ở file seach.html  */
.dropdown-two {
  display: none;
  position: absolute;
  top: 55px;
  right: 50px;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  z-index: 9999;
  padding: 10px 15px;
  border: 1px solid white;
  text-align: left;
  padding-bottom: 20px;
}
/* ô chọn chế độ */
.finding-selections {
  width: 90%;
  margin: auto;
  height: 70px;
}
.filter-tabs {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
  align-items: center;
  height: 80px;
}
.tab-item-one {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid orange;
  padding-bottom: 15px;
  align-items: center;
  height: 30px;
}
.tab-item-two {
  color: black;
  padding-bottom: 15px;
  align-items: center;
  height: 30px;
}

.tab-item-two:hover,
.tab-item-one:hover{
  cursor: pointer;
}



/* Từ khoá + số lượng */
.finding-showkeyword {
  width: 90%;
  height: 70px;
  margin: auto;
}
.finding-showkeyword span{
  font-size: 25px;
}
.keyword-text {
  text-align: center;
  height: 20px;
  margin-left: 30px;
  margin-top: 20px;
  display: inline-block;
}




/* Nội dung tìm kiếm */
.finding-wrapper {
  display: flex;
  width: 90%;
  height: 1000px;
  margin: auto;
}

/* kết quả tìm kiếm */
.finding-results {
  width: 70%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;

}

.recipe-card {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  margin-bottom: 10px;
  position: relative;
}

.recipe-card:hover{
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);

}

.recipe-thumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  font-size: 18px;
  margin: 0 0 4px;
}

.recipe-desc {
  font-size: 13px;
  color: #555;
  margin: 0 0 6px;
}

.recipe-meta {
  font-size: 12px;
  color: #777;
  margin-bottom: 6px;
}

.meta-dot {
  margin: 0 4px;
}

.recipe-author {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: auto;
}

.author-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-save {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent; /*không có màu nền, sẽ nhìn thấy phần tử hoặc màu nền phía sau */
  cursor: pointer;
  font-size: 18px;
  color: #555;
}



/* Bộ lọc */
.finding-filter {
  width: 30%;
  height: 100%;
}

.finding-filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom:1px solid #e6e2e2;
}

.tag-name {
  background-color: #acd19d;
  color: #555555;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
}

.tag:hover {
  background-color: #8fff62;
}



.filter-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.clear-filter {
  font-weight: 400;
  font-size: 13px;
  color: #999;
  cursor: pointer;
}

.clear-filter:hover {
  color: #666;
  text-decoration: underline;
}

.display-dishes {
  display: block;
  font-size: 17px;
  color: #555;
  margin-bottom: 8px;
  margin-top: 15px;
}

.label {
  position: relative;
  margin-bottom: 10px;
}

.label input {
  width: 80%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  color: #333;
}

.label input:focus {
  border-color: #acd19a;
}

.label input::placeholder {
  color: #a4a4a4;
}

/* Icon kính lúp */
.label i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
}
